*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    scroll-behavior: smooth;
    
}



.Home {
    overflow-x: hidden;
    @apply h-[100vh] w-[100vw]
}

.Home-first-section {
    /* background-image: url(../src/assets/images/purple-lens-mobile.png); */
    @apply h-[27.625rem] w-[100vw] bg-cover bg-center bg-no-repeat  pt-[2rem] relative
}

.first-section {

    @apply pr-[2.06rem] pl-[2.44rem] pt-[1.94rem] flex flex-col items-center wide:ml-[8rem] desktop:ml-[4rem] desktop:pr-[0rem] desktop:mr-[0rem] desktop:items-start  desktop:pl-[0rem] desktop:relative z-[99]
}

.igniting-div{
    @apply w-[100%] flex justify-center items-center desktop:justify-end pr-[3.44rem] desktop:mb-[1.68rem]
}


.home-first-flex{
    @apply desktop:flex-row flex  flex-col desktop:w-[100%]  relative
}


.curve {
    @apply w-[7.19rem] self-end mt-[0.29rem] desktop:w-[15.81rem]
}


.bgleft-top{
 z-index: -00;
width: 17.8125rem;
height: 22.875rem;


background-blend-mode: hard-light;
@apply absolute left-[0rem] top-[01rem] desktop:w-[67.875rem] desktop:h-[52.875rem] desktop:top-[-5rem] desktop:left-[5rem]
}

.bgright-top{
    z-index: 10;
   width: 17.8125rem;
   height: 22.875rem;
   opacity: 0.7;
   
   background-blend-mode: hard-light;
   @apply absolute left-[0rem] top-[01rem] desktop:w-[67.875rem] desktop:h-[52.875rem] desktop:top-[-5rem] desktop:left-[50rem] 
   }

.igniting { 
    @apply text-white italic font-bold flex flex-col w-fit sphone:text-[0.8rem] wide:text-[2.25rem] desktop:text-[1.65rem]
}

.getlinked {
    @apply text-[2rem] font-bold text-white flex flex-col justify-center wide:text-[5rem] desktop:text-[3rem] items-center desktop:items-start desktop:w-[37.3rem]
}

.get-linked {
    @apply mt-[1.62rem]
}

.purple-text {
    @apply text-normal
}

.hackathon-text {
    @apply text-white text-[2rem] font-bold flex items-center wide:text-[5rem] desktop:text-[3rem]
}

.mobile-chain {
    @apply h-[2.1rem] w-[2.1rem] desktop:w-[5.357rem] desktop:h-[5.357rem]
}

.intro-texts {
    line-height: 166%;
    @apply text-white mt-[0.56rem] text-[0.8125rem] text-center desktop:text-[1.25rem] w-[16.25rem] desktop:w-[32.46rem] desktop:text-left
}

.bulb-mobile {
    width: 1.125rem;
    height: 1.625rem;
    @apply ml-[13.5rem] mb-[-1rem] desktop:h-[4.56rem] desktop:w-[3.312rem] desktop:ml-[30rem] desktop:mb-[-2.5rem]
}

.star {
    width: 0.625rem;
    height: 0.75rem;
    flex-shrink: 0;
    @apply desktop:h-[4.56rem] desktop:w-[3.312rem]
}

.star2 {
    width: 0.375rem;
    height: 0.5rem;
    flex-shrink: 0;
    @apply desktop:h-[4.56rem] desktop:w-[3.312rem]
}

.flexo {
    @apply flex gap-[11.94rem] left-[3rem] ml-[1.5rem] pl-[2rem] 
}

.register-button {
    width: 9.5rem;
    height: 2.92731rem;
    @apply bg-primary text-white rounded-[0.25rem] flex items-center justify-center text-[0.875rem] desktop:w-[10.75rem] desktop:h-[3.312rem]
}

.li {
    height: 2.92731rem;
    @apply mt-[1.5rem] mb-[0.89rem] pl-[3rem] desktop:pl-[0rem]
}

.starl {
    width: 0.375rem;
    height: 0.5rem;
    @apply ml-[11.4rem] mt-[-1.8rem]
}

.countdown {
    @apply flex flex-row justify-between text-[3rem] desktop:text-[3rem] wide:text-[3rem] text-white w-[13.375rem] h-[4rem] desktop:h-[4.31rem] wide:h-[5.31rem] mb-[1.93rem] desktop:mt-[4.81rem]  desktop:w-[17.81rem] 
}

.time {
    @apply flex gap-[0rem]   wide:text-[4rem]  desktop:text-[3rem]   
}

.time-text {
    font-size: 0.875rem;
    @apply flex items-end
}

.second-sectionlo{
    @apply desktop:relative desktop:ml-[3rem] desktop:flex  desktop:justify-end 
}

.second-section {
    height: 22.64969rem;
    /* z-index: 20; */
    /* background-blend-mode: luminosity; */
    /* background-image: url(../src/assets/images/smart.png); */
  mix-blend-mode: luminosity;
    @apply w-[100%] wide:h-[44.3rem] desktop:h-[37.3rem] desktop:w-[34rem] wide:w-[55.44rem] bg-darkp bg-center bg-cover bg-no-repeat sphone:w-[100%] desktop:grow desktop:relative desktop:z-[20]
}

.sec{
    @apply relative desktop:absolute right-[0rem]
}

.mobile-tech {
 
    /* width: 41.6875rem;
height: 40.0625rem; */
    /* background-image: url(../src/assets/images/mobile-tech.png); */
    @apply bg-center bg-no-repeat bg-cover ml-[0rem] sphone:w-[95vw] h-[100%] w-[100%] absolute top-[0rem] desktop:top-[1rem] desktop:w-[41.68rem] desktop:h-[36.0625rem] desktop:left-[1rem] wide:w-[41.68rem] wide:h-[40.0625rem] desktop:z-[20] wide:left-[4rem]
}

.third-section{
    @apply bg-darkp pt-[1.81rem] flex flex-col items-center desktop:h-[38.6rem] justify-center desktop:flex-row wide:justify-between wide:pl-[15rem] wide:pr-[10.4rem] desktop:justify-evenly
}

.bulb-big-div{
   
  @apply relative

}

.bulb-big{
    width: 16.50025rem;
    height: 16.0625rem;
    background-image: url(../src/assets/images/deal.png);
    @apply  bg-center bg-cover desktop:w-[28.625rem]  desktop:h-[27.812rem] bg-no-repeat justify-center flex items-center wide:w-[30.625rem]  wide:h-[29.812rem]
}

.arrow-mobile{
    @apply mt-[0.63rem] mb-[1.38rem] w-[1.216rem] h-[1.426] desktop:w-[3.6rem] desktop:h-[3.6rem]  desktop:left-[29rem] desktop:absolute  desktop:top-[25rem]
}

.kloi{
    @apply desktop:h-[50%] desktop:flex desktop:items-center justify-center items-center desktop:flex-col desktop:relative desktop:justify-center desktop:top-[4rem]
}

.big-idea-text{
    width: 4.87744rem;
    height: 2.01213rem;
    line-height: 122.5%;

@apply text-white font-bold text-[0.875rem] text-center 
}

.third-intro{
    @apply leading-[138%] font-bold w-[15.5625rem] h-[3.375rem] text-[1.25rem] text-white text-center wide:text-[2rem] desktop:w-[24.9rem] desktop:h-[5.37rem] desktop:text-start items-center justify-center desktop:text-[1.7rem]
}

.third-into-div{
    @apply w-[100%] flex desktop:justify-start justify-center
}

.third-texts{
   @apply h-[100%] text-center mt-[0.56rem] text-[0.8125rem] leading-[1.718rem] text-white mb-[6.02rem] px-[1rem] w-[100%] desktop:text-[0.875rem]  desktop:w-[29.28rem] desktop:h-[100%] desktop:text-start desktop:px-[0rem] 
}

.fourth-section{
    @apply bg-darkp flex justify-center items-center flex-col w-[100%] desktop:flex-row-reverse desktop:h-fit  desktop:pl-[2rem] desktop:justify-evenly wide:pl-[0rem] 
}


.first-left-purple{
    
height: 23.1875rem;

@apply relative top-[-0.62rem] desktop:top-[0rem]  w-[100%] items-center flex justify-center flex-col bg-center desktop:h-[100%] bg-no-repeat bg-cover
}

.lady{
    width: 18.375rem;
    height: 23.875rem;
@apply relative desktop:static top-[0rem] wide:h-[41.5rem] wide:w-[41.5rem] desktop:h-[39.5rem] desktop:w-[39.5rem]
}

.fourth-head{
  @apply  text-[1.25rem] text-white w-[6rem]  mb-[2rem]
}

.w-text{
    opacity: 0;
}

.first-right-purple{
 
    @apply w-[100%] desktop:w-[80%]  relative flex flex-col wide:w-[100%] items-center  bg-center bg-cover bg-no-repeat p-[0rem] bottom-[2rem] desktop:bottom-[0rem]
}

.rulesg{
    @apply text-[1.25rem] font-bold text-white leading-[133%] w-[6.5rem] text-center mb-[0.56rem] desktop:text-[2rem] desktop:w-[10.625rem]
}

.rulesg-text{
    @apply text-[0.8125rem] text-center leading-[1.79rem] h-[15.5rem] desktop:text-[0.875rem] text-white w-[18rem] desktop:w-[33.43rem] desktop:text-start
}

.starfl{
    
        width: 0.625rem;
        height: 0.75rem;
        flex-shrink: 0;
 @apply relative desktop:absolute top-[18.5rem] right-[9rem] 

}


.psx{
    
    width: 0.625rem;
    height: 0.75rem;
    flex-shrink: 0;
@apply relative top-[12rem] left-[3rem] 

}

.starpartl{
    
    width: 0.625rem;
    height: 0.75rem;
    flex-shrink: 0;
@apply absolute top-[19.2rem] right-[4rem] 

}

.starfl2{
    
    width: 0.625rem;
    height: 0.75rem;
    flex-shrink: 0;
@apply relative desktop:absolute top-[4.5rem] left-[8.5rem] 

}

.liop{
    @apply top-[1rem] left-[-4rem]
}

.fifth-section{
    z-index: 5;
    @apply flex items-center   relative px-[1.81rem] flex-col justify-center desktop:z-0 desktop:flex-row wide:justify-around  desktop:justify-evenly
}

.limo{
    width: 0.8125rem;
    height: 1.0625rem;
    @apply absolute top-[2rem]
}

.chart-icon{
    width: 20.75rem;
    height: 17.1875rem;
    @apply mt-[4.63rem] wide:w-[44.37rem] wide:h-[36.7rem] desktop:w-[60%] desktop:h-[100%]
}

.chart-texts-head{
    @apply w-[100%] flex items-center justify-center 
}

.chart-head{
    @apply text-[1.25rem] font-bold leading-[1.6625rem] text-white w-[10.4375rem] text-center h-[3.375rem] flex flex-col desktop:text-[2rem] desktop:w-[16.68rem] desktop:text-start desktop:leading-[2rem]
}

.chart-text{
    @apply text-center text-[0.75rem] leading-[173.5%] text-white desktop:text-start 
}

.chart-texts{
    @apply w-[100%] flex flex-col justify-center items-center gap-[1.25rem] desktop:justify-end wide:w-[35.7rem] desktop:items-start  desktop:w-[40%] 
}

.spanText{
    @apply  text-span
}

.chart-more{
    width: 6.02188rem;
    height: 1.95913rem;
    @apply bg-primary rounded-[0.25rem] text-[0.75rem] text-white mb-[3.67rem] flex items-center justify-center desktop:w-[10rem] desktop:h-[3rem]
} 

.chart-star{
     width: 0.625rem;
     height: 0.75rem;
    @apply absolute bottom-[4.75rem] right-[4.19rem]
}

.sixth-section{
    @apply bg-darkp w-[100vw] relative  flex justify-center desktop:justify-evenly items-center flex-col desktop:flex-row desktop:px-[2rem] wide:px-[0rem]
}

.sixth-section-second{
    @apply relative flex flex-col items-center justify-center 
}

.sixth-section-first{
    @apply relative flex justify-center items-center flex-col desktop:items-start w-[100%] desktop:w-fit
}

.limoz{
    width: 1.125rem;
    height: 1.375rem;
    @apply top-[1.94rem] left-[-8.69rem] relative
}

.ask-desc{
   @apply  text-center text-[0.75rem] w-[17.312rem] text-white leading-[1.719rem] mt-[0.37rem] mb-[2.86rem] desktop:text-[0.875rem]  desktop:w-[21.4rem] desktop:text-start desktop:mt-[1rem]
}

.h-pline{
    /* width: 16.50944rem; */
height: 0.0625rem;
@apply bg-normal w-[100%] desktop:w-[26.6rem]
}

.que{
    /* width: 16.50944rem; */
    @apply flex flex-col desktop:w-[26.6rem] desktop:mt-[1.56rem] mt-[0.83rem] w-[85%]
}

.quet{
@apply flex flex-row justify-between
}

.questions-texts{
    @apply text-white text-[0.75rem] leading-[1.125rem] w-[90%] desktop:text-[0.875rem]
}

.plus-icon{
   @apply text-normal text-[1.25rem] leading-[1.719rem] cursor-pointer
}

.plus-rot{
    transform: rotate(45deg);
    transition: all 0.5 ease-in-out;
    @apply text-normal text-[1.25rem] leading-[1.719rem] cursor-pointer
 }

.ask-questions{
    @apply flex flex-col items-start justify-center gap-[1.1rem] desktop:gap-[1.56rem]
}

.small-mark{
    @apply h-[2rem] mt-[1.25rem] 
}

.big-mark{
    @apply h-[3rem] mr-[1.75rem] ml-[0.88rem]
}

.question-marks{
    @apply mt-[2.12rem] relative left-[-2.5rem] top-[1.8rem]
}

.think2{
    width: 20.4375rem;
height: 20.4375rem;
@apply mb-[3.06rem] wide:w-[46.3125rem] wide:h-[46.3125rem] desktop:w-[30.3125rem] desktop:h-[35.3125rem]
}

.answers{
    @apply text-white text-[0.75rem] leading-[1.125rem] w-[90%] mt-[0.5rem] block
}


.seventh-line{

    @apply pt-[5rem] pr-[1.88rem] pl-[2.56rem] bg-darkp desktop:w-[100%] flex justify-center items-center flex-col pb-[5.14rem]
}

.oline{
    background: rgba(255, 255, 255, 0.18);
    @apply h-[0.005rem] w-[100%] 
}

.timeline{
    @apply font-bold text-[1.25rem] leading-[133%] text-white desktop:text-[2rem]
}

.timeline-desc{
    @apply font-normal leading-[172.4%] text-[0.875rem] text-center text-white w-[18.25rem] mt-[1.31rem] mb-[3.5rem] desktop:w-[21.625rem]
}

.sub-timeline{

    @apply flex flex-row gap-[0.56rem] mb-[1.69rem] desktop:items-center desktop:w-[100%] desktop:justify-center
}

.stti{
    @apply wide:w-[27.25rem] desktop:flex desktop:justify-end desktop:flex-col desktop:w-[24.25rem] 
}  

.leftone{
    @apply desktop:text-end
}

.leftonedate{
    @apply desktop:flex desktop:justify-end desktop:items-end
}


.stti p{
    @apply desktop:mt-[0.75rem] desktop:w-[27.2rem]
}



.line-c{
@apply flex flex-col items-center gap-[0.44rem] desktop:hidden
}

.line-cl{
    
    @apply flex flex-col items-center gap-[0.44rem] hidden desktop:flex desktop:mr-[6.12rem] desktop:ml-[5.38rem]
    }

.time-line{
    width: 0.125rem;
    height: 4.8125rem;
    @apply bg-light desktop:w-[0.25rem] desktop:h-[5.5625rem]
}

.timelineb{
    @apply flex flex-col justify-center items-center desktop:w-[100%] desktop:flex
}


.timelinec{
    @apply desktop:hidden flex-col desktop:justify-center desktop:items-center desktop:w-[80%] hidden  desktop:px-[5rem]
}

.time-circle{
    width: 1.2075rem;
height: 1.2075rem;
background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);

    @apply rounded-[1.65625rem] text-[0.75rem] text-white font-bold flex items-center justify-center desktop:h-[2.3125rem] desktop:w-[2.3125rem] wide:text-[1.5rem] desktop:text-[1.2rem] wide:h-[3.3125rem] wide:w-[3.3125rem]
}

.sub-timeline-text{
    /* outline: 4px solid green; */
    @apply flex flex-col desktop:flex-row justify-between desktop:justify-center desktop:gap-[0rem] desktop:w-[100%] 
}

.sub-timeline-text h2{

    @apply text-[0.75rem] font-bold text-normal desktop:text-[1.2rem] wide:text-[1.5rem]
}

.sub-timeline-text p{
    @apply text-[0.75rem] text-white
 leading-[159.9%] wide:text-[1rem] desktop:text-[0.9rem] desktop:w-[100%] 
}

.sub-timeline-text h3{
    @apply text-[0.75rem] font-bold text-normal desktop:items-end desktop:flex wide:text-[1.5rem] desktop:text-[1.2rem]  desktop:w-[24rem] wide:w-[27.05rem]
}                           

.eight-line{
    background: url(../src/assets/images/rewardbg.png), lightgray 0px -0.083px / 100% 109.967% no-repeat;
    background-blend-mode: color-burn;
z-index: 5;
    @apply  w-[100vw] bg-cover bg-no-repeat bg-center bg-darkp flex-col flex items-center pt-[4.5rem] pb-[5.58rem] relative desktop:justify-evenly desktop:px-[2rem]
}

.highlight{
    @apply text-white text-center text-[0.75rem] leading-[170.9%] w-[17.3rem] desktop:text-[1rem] mb-[2.5rem] desktop:text-start desktop:w-[24rem]
}

.trophy-header{
    @apply desktop:w-[100%] desktop:flex desktop:flex-col flex-col desktop:pr-[25rem] desktop:relative desktop:pl-[60%] desktop:mb-[3rem] items-center justify-center flex
}

.prizepup{
    @apply absolute left-[3rem] top-[2rem]
}

.rewepup{
    @apply absolute left-[16rem] top-[6rem]
}

.prizew{
    @apply absolute top-[30rem] left-[3rem]
}

.prizew2{
    @apply absolute top-[30rem] left-[20rem]
}



.prizetrans{
    @apply absolute top-[17rem] left-[13rem]
}

.eight-header{
    @apply text-white font-bold text-[1.25rem] w-[6.8125rem] text-center desktop:text-start desktop:text-[2rem] desktop:w-[10.875rem]
}

.header-purple{
    @apply text-normal 
}

.navvy{
    z-index: 100;
    @apply relative bg-darkp opacity-100 bg-opacity-100
}

.trophy-icon{
    width: 20.0625rem;
height: 17.625rem;
@apply mb-[3.19rem] wide:w-[34.25rem] wide:h-[30.125rem]  desktop:w-[25.25rem] desktop:h-[25.125rem] 
}

.trophy-row{
    @apply desktop:flex desktop:flex-row  desktop:w-[100%] desktop:justify-evenly
}

.medals2, .medals{
    width: 4.74981rem;
height: 4.77631rem;
@apply z-20 wide:w-[11.18rem] wide:h-[11.25rem] desktop:w-[8.18rem] desktop:h-[8.25rem]
}

.medals{
    width: 7.85444rem;
height: 7.85444rem;
flex-shrink: 0; 
@apply wide:h-[18.5rem] wide:w-[18.5rem] desktop:h-[14.5rem] desktop:w-[14.5rem]
}

.rewards-coner{
    z-index: 5;
    @apply flex flex-row relative
}

.md2{
    width: 5.62544rem;
    height: 7.85444rem;
    border: 1px solid #D434FE;
    background: rgba(212, 52, 254, 0.12);
    @apply rounded-[0.5rem] relative top-[-2.57rem] z-10 pt-[2.9rem] text-white flex flex-col items-center text-center wide:w-[13.25rem] wide:h-[18.5rem] desktop:top-[-5.25rem] desktop:pt-[7rem] desktop:w-[10.25rem] desktop:h-[16.5rem] 
}

.md1{
    width: 5.62544rem;
height: 9.20769rem;
border-radius: 0.5rem;
border: 1px solid #903AFF;
background: rgba(144, 58, 255, 0.12);
;
    @apply rounded-[0.5rem] relative top-[-2rem] z-10 pt-[3rem] text-white flex flex-col items-center text-center wide:w-[13.25rem] wide:h-[21.678rem] desktop:top-[-5.9rem] desktop:pt-[9rem] desktop:w-[10.25rem] desktop:h-[18.678rem] 
}

.trophs2{
    @apply pt-[2.57rem] flex items-center justify-center flex-col
}

.md2l{
@apply text-normal mt-[0.5rem]
}

.md1l{
    @apply text-light mt-[0.5rem]
    }
    

.trophs{
    @apply flex items-center justify-center flex-col
}

.md2-text p{
    @apply text-[0.75rem] font-bold wide:text-[2.25rem]  desktop:text-[1.25rem] 
}

.md2-text h6{
    @apply wide:text-[2rem] desktop:text-[1.5rem]
}

.md2-text {
    @apply flex flex-col 
}

.md2-text p:nth-of-type(2) {
    @apply desktop:text-[1.5rem]
}




.ninth-section{
    z-index: 5;
    @apply bg-darkp w-[100vw] flex flex-col justify-center items-center  pt-[2.56rem] pr-[1.69rem] pl-[1.88rem]  relative
}

.pas{
 @apply text-white text-[1.25rem] font-bold leading-[1.718rem] mb-[0.31rem] desktop:text-[2rem] desktop:mb-[1.38rem]
}

.past{
    @apply text-white leading-[1.28rem] text-[0.75rem] text-center w-[17.87rem] mb-[2.56rem] desktop:w-[28.25rem]
}

.partners{
    border-radius: 0.3125rem;
    border: 1px solid #D434FE;
    background: rgba(255, 255, 255, 0.01);
    @apply px-[2.95rem] py-[2.39rem] h-[9.29rem] w-[100%] mb-[6.53rem] wide:w-[78.43rem] wide:h-[35rem] desktop:flex desktop:items-center desktop:justify-center desktop:w-[90%] desktop:h-[30rem] 
}

.partners-image{
    @apply wide:w-[56.146rem] wide:h-[17rem] desktop:w-[35.146rem] desktop:h-[17rem]
}

.tenth-section{
    z-index: 100;
    @apply pt-[4.44rem] flex flex-col items-center bg-darkp   pb-[5.19rem] pr-[3.06rem] pl-[2.88rem] relative desktop:flex-row desktop:justify-evenly desktop:pb-[10rem]
}

.milo{
    @apply text-normal
}

.tenth-head{
    @apply text-white text-[1.25rem] font-bold  w-[11.7rem] desktop:text-start  desktop:text-[2rem]   text-center  desktop:w-[18.75rem] desktop:mb-[1.06rem]
}

.tenth-section h6{
    color: rgba(255, 255, 255, 0.75);

    @apply desktop:text-start text-[0.75rem] leading-[1.178rem] mb-[1.75rem] relative desktop:text-[0.876rem]
}

.ppat{
    @apply text-[0.75rem] leading-[188.4%] text-center w-[17.0625rem] text-white  desktop:text-start desktop:text-[0.876rem] desktop:w-[27.35rem]
}

.ppat-inner{
    border-radius: 0.3125rem;
border: 1px solid #D434FE;
background: rgba(217, 217, 217, 0.03);
@apply w-[100%] mt-[1.88rem] pr-[0.75rem] pl-[0.94rem] pt-[2.81rem] flex flex-col justify-center desktop:w-[35.5625rem] desktop:text-start desktop:items-center
}

.ppat-inner-one{
    @apply text-white text-center text-[0.75rem] leading-[216.4%] desktop:text-start desktop:w-[26.5625rem] desktop:text-[0.875rem]
}

/* .reada-more{
    @apply desktop:
} */

.ppat-inner h3{
    @apply ml-[0.44rem] font-bold text-[0.812rem] desktop:text-[1rem] text-normal mt-[1.331rem]
}

.ppat-inner h4{
    @apply ml-[0.44rem] font-bold text-[0.75rem] text-white leading-[216.4%] mb-[1.31rem] desktop:text-[0.875rem]
}

.lisencing-policy{
    @apply desktop:w-[100%] desktop:pl-[2.56rem]
}

.standard-lisence{
    @apply flex flex-row gap-[0.88rem]  pr-[0.06rem] items-start
}

.standard-lisence p{
    @apply text-white text-[0.75rem] leading-[175.9%] desktop:w-[25.06rem] desktop:text-[0.875rem]
}

.standard-lisence img{
    @apply mt-[0.38rem]
}

.tenth-section-first{
    @apply flex items-center justify-center flex-col desktop:items-start
}

.readMore-container{
    @apply mt-[1.5rem] 
}

.shield{
    fill: linear-gradient(180deg, rgba(144, 58, 255, 0.14) 0%, rgba(255, 38, 185, 0.14) 100%);

  @apply  mt-[3rem]  w-[15.56rem] h-[19.437rem] desktop:w-[33.125rem] desktop:h-[40.5rem]
}

.shieldpup{
    @apply top-[8rem] absolute left-[-2rem]
}


.shieldw{
    @apply absolute left-[12rem] top-[9rem]
}

.boyw{
    width: 0.625rem;
    height: 0.75rem;
    @apply absolute top-[26rem] left-[1rem]
}


.boyts{
    width: 0.625rem;
    height: 0.75rem;
    @apply absolute top-[27rem] left-[14.3rem]
}


.keyboy{
    @apply absolute top-[9rem] left-[-1.3rem] desktop:w-[34.937rem] desktop:h-[46.8125rem] 
}

.shield-container{
    @apply relative h-[29.5rem] desktop:top-[-15rem]
}


/* .star {
    width: 0.625rem;
    height: 0.75rem;
    flex-shrink: 0;
}

.star2 {
    width: 0.375rem;
    height: 0.5rem;
    flex-shrink: 0;
} */


.pxl{
    @apply absolute top-[3.4rem] left-[14rem]
}

.small-stars{
    @apply absolute w-[0.5rem] h-[0.5rem] left-[17rem] top-[3rem]
}


.mimi{
    @apply absolute top-[-2rem] left-[-3rem]
}


/* background purple overlay for left side of the website */

.bgleft{
    z-index: -100;

width: 17.8125rem;
height: 22.875rem;
background-blend-mode: hard-light;
@apply absolute left-[-3rem] top-[33rem]
}

.bgleftn{
    z-index: -100;

width: 17.8125rem;
height: 22.875rem;
background-blend-mode: hard-light;
@apply absolute left-[-3rem] top-[5rem]
}

.bgleftnp{
    z-index: -100;
width: 17.8125rem;
height: 22.875rem;
background-blend-mode: hard-light;
@apply absolute left-[5.6rem] top-[14rem]
}

.bgleftnp{
    z-index: -100;
width: 17.8125rem;
height: 22.875rem;
background-blend-mode: hard-light;
@apply absolute left-[5.6rem] top-[14rem]
}


.bgleftnj{
    z-index: -100;
width: 17.8125rem;
height: 22.875rem;
background-blend-mode: hard-light;
@apply absolute left-[0rem] top-[7rem]
}

.bgleftnjl{
    z-index: -100;
width: 17.8125rem;
height: 22.875rem;
background-blend-mode: hard-light;
@apply absolute right-[-1.8rem] top-[-9rem] desktop:right-[0rem] desktop:top-[18rem]
}

.bgleftll{
    z-index: -100;
width: 17.8125rem;
height: 22.875rem;
background-blend-mode: hard-light;
@apply absolute left-[0rem] top-[-3rem]
}

.bgleftr{
    z-index: -100;
width: 17.8125rem;
height: 22.875rem;
background-blend-mode: hard-light;
@apply absolute left-[0rem] top-[0rem]
}
/* background purple overlay for right side of the website */


.bgright{
    z-index: -100;
width: 17.8125rem;
height: 22.875rem;

@apply absolute left-[3.4rem] sphone:left-[1.75rem] top-[-3rem]
}

.bgrightps{
    z-index: -100;
width: 17.8125rem;
height: 22.875rem;
background-blend-mode: hard-light;
@apply absolute sphone:left-[2.1rem] left-[5.6rem] top-[14rem]
}


.bgrightreward{
    z-index: -100;
width: 17.8125rem;
height: 22.875rem;

@apply absolute left-[0.6rem] top-[-3rem]
}